{% set childPages = collections.all | eleventyNavigation(eleventyNavigation.key) %}
{%- if childPages.length > 0 %}
  <nav class="children">
    <h2>In this section</h2>
    <ul>
    {%- for entry in childPages %}
      <li>
        <a href="{{ entry.url | url }}">{{ entry.title }}</a>
      </li>
    {%- endfor %}
    </ul>
  </nav>
{%- endif %}
